body,ul,li,a{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.big_box_position img{
	display: block;
	width: 100vw;
	height:500px;
}
.big_box_position {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(172, 165, 165, 0.2);
}
.big_box_position .big_box {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.big_box_position .big_img_list{
	display: flex;
	overflow: hidden;
	max-width: 100vw;
}
.big_box_position .big_img_list li {
	display: none;
}
.big_box_position .bullet{
  width: 100%;
  position: relative;
  top: -35px;
  text-align: center;
}
.big_box_position .bullet li{
  width: 30px;
  height: 8px;
  border: 1px solid white;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  background-color: white;
  margin-left: 2px;
  margin-right: 2px;
}
.big_box_position .bullet li.active{
	border-color: red;
  background-color: red;
}